.todoDetail {
    font-family: "Gotham Book";
    font-size: 21px;

    align-items: center;
    // text-align: center;

    .todoCom-mem{
      align-items: center;
      margin-top: 20px;
      margin-bottom: 20px;

      font-weight: bold;
      color: yellow;
    }

  .todoCom-img{
    width: 500px;
    height: 350px;

    border: 1px solid black;
// border-color: black;

margin-top: 20px;
      margin-bottom: 20px;

}  

.todoCom-time{
  margin-top: 20px;
      margin-bottom: 20px;
}

.todoCom-memo{
  width: 500px;
    height: 250px;

border: 1px solid black;

  margin-top: 20px;
      margin-bottom: 20px;


}

}

  