.todoDetail {
    font-family: "Gotham Book";
    font-size: 21px;

    background-color: white;

    // position: relative;

    height: 100px;

// top: 200px;

    align-items: center;
    // text-align: center;

    .todoCom-mem{
      
      height: 30px;

      padding: 10px;

      // align-items: center;
      margin-top: 10px;
      margin-bottom: 20px;

      // top: 0px;

      font-weight: bold;
      color:#3A4CA8;
    }

  .todoCom-img{
    width: 500px;
    height: 350px;

    border: 1px solid black;
    border-radius: 16px;
// border-color: black;

margin-top: 20px;
      margin-bottom: 20px;

}  

.todoCom-time{
  margin-top: 20px;
      margin-bottom: 20px;

      font-weight: bold;
}

.todoCom-memo{
  width: 500px;
    height: 250px;

border: 1px solid black;
border-radius: 16px;

padding: 10px;

  margin-top: 20px;
      margin-bottom: 20px;


}

}

  