body {
  font-family: "Gotham Book";
}

.todoContent {
  // flex-direction: row;
  width: 500px;
  display: flex;
  // float: left;
  align-items: center;
  justify-content: center;
  // display: block;
  // display: inline-block;

  .todo-list {
    flex: 1;
    padding: 20px 32px;

    // top: 800px;
    left: 370px;

    padding-bottom: 48px;
    position: absolute;

    overflow-y: auto;

    .todo-create {
      //   position: fixed;
      margin-top: 100%;
      // float: right;
      bottom: 0;
      // width: 100%;
    }
  }
}
.todoCreate-Img {
  position: relative;

  top: 320px;
  // left: 20px;

  .todoCreateImg {
    width: 80px;
    height: 80px;
  }
}

// .todoCreate-Img {
//   position: absolute;

//   // bottom: 0;
//   margin-bottom: 0px;

//   .todoCreateImg {
//     width: 80px;
//     height: 80px;

//     right: 0px;
//     top: 500px;

//     margin: 0 auto;

//     object-fit: cover;
//   }
//   // .todoComImg {
//   //   float: right;
//   // }
// }

.todo-detail {
  // float: right;
  float: left;
  // clear: both;

  width: 512px;
  height: 750px;

  top: 0px;
  left: 0px;

  // background-color: aqua;
  // background: white;
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 4%);

  padding: 10px;
  // padding-top: 0px;
  justify-content: center;
  // display: inline-block;
  display: flex;
  // display: -webkit-box;
  // display: -webkit-flex;
  // display: -ms-flexbox;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  // -webkit-flex-direction: row;
  // -ms-flex-direction: row;
  // flex-direction: row;
  position: relative;

  margin: 0 auto;

  // margin-left: 80px;
}
