body {
  font-family: "Gotham Book";
}

.todoContent {
  // flex-direction: row;
  width: 500px;
  display: flex;
  // float: left;
  align-items: center;
  justify-content: center;

  // display: block;
  // display: inline-block;
}

.todo-list {
  width: 500px;

  float: left;

  flex: 1;
  padding: 20px 32px;

  overflow-y: auto;

  left: 20%;
  top: 83%;
  margin: auto;

  padding-bottom: 48px;
  // position: relative;
  position: absolute;

  .todoListBlock {
    width: 400px;

    display: table;

    text-align: left;
    float: left;

    flex: 1;
    padding: 20px 32px;
    padding-bottom: 48px;
    overflow-y: auto;

    .todoItemText {
      width: 280px;
      height: 50px;
      // height: 150px;

      vertical-align: middle;

      float: left;
    }

    .todoItemComplete {
      float: right;
      // right: 0px;

      left: 50%;
      top: 50%;
      // right: 0%;

      // position: absolute;

      vertical-align: middle;

      width: 45px;
      height: 45px;

      border: 1px solid black;
    }
  }

  .todo-create {
    //   position: fixed;
    margin-top: 100%;
    // float: left;
    bottom: 0;
    // width: 100%;
  }
}

.todoCreate-Img {
  position: relative;
  // position: absolute;

  width: 100%;
  text-align: center;

  margin-bottom: 0px;

  top: 320px;
  // padding: 0px;
  margin: 0 auto;

  .todoCreateImg {
    width: 80px;
    height: 80px;

    position: absolute;
    right: 100px;
    bottom: 0px;

    margin: 0 auto;

    object-fit: cover;
  }
}

// .todoCreate-Img {
//   position: absolute;

//   // bottom: 0;
//   margin-bottom: 0px;

//   .todoCreateImg {
//     width: 80px;
//     height: 80px;

//     right: 0px;
//     top: 500px;

//     margin: 0 auto;

//     object-fit: cover;
//   }
//   // .todoComImg {
//   //   float: right;
//   // }
// }

.todoDetail {
  width: 512px;
  height: 750px;

  padding: 10px;

  background: white;

  float: left;
  text-align: left;

  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 4%);

  .todo-detail {
    // float: right;
    // float: left;
    // clear: both;

    // width: 512px;
    // height: 750px;

    top: 0px;
    left: 0px;

    // background-color: aqua;

    // border-radius: 16px;
    // box-shadow: 0 0 8px 0 rgb(0 0 0 / 4%);

    // padding: 10px;
    // padding-top: 0px;
    justify-content: center;
    // display: inline-block;
    display: flex;
    // display: -webkit-box;
    // display: -webkit-flex;
    // display: -ms-flexbox;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    // -webkit-flex-direction: row;
    // -ms-flex-direction: row;
    // flex-direction: row;
    position: relative;

    margin: 0 auto;

    // margin-left: 80px;
  }
}
