body {
  font-family: "Gotham Book";
}

.calendar-table {
  width: 420px;
  margin: 0 auto;
  margin-top: 50px;
  //   float: right;
  text-align: center;
}

.todo-calendar tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  // border-top-color: ;
  // border-right-color: ;
  // border-bottom-color: ;
  // border-left-color: ;
}
.calendar-head {
  th {
    padding: 6px 0 0;
    font-weight: normal;
    font-size: 1.2rem;
    color: #999;
    text-align: center;
    font-family: "Gotham Book";
  }
  th.sat {
    color: blue;
  }
  th.sun {
    color: #f36464;
  }
}

.calendar-body {
  position: relative;

  .todo-calendar .arrow {
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
  }
  td {
    height: 74px;
    text-align: center;
  }
  td span {
    font-size: 1.8rem;
    line-height: 3.7rem;
    color: #bbb;
    font-family: "Gotham Bold";
  }
  td span {
    font-size: 1.8rem;
    line-height: 3.7rem;
    color: #bbb;
    font-family: "Gotham Bold";
  }
  td a {
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 3.5rem;
  }
  td.showday span {
    color: #333;
    padding: 10px;
  }
  td.eventday span {
    color: #333;
  }
  td.eventday a:after {
    display: block;
    position: absolute;
    bottom: 11px;
    left: 50%;
    width: 4px;
    height: 4px;
    margin-left: -2px;
    border-radius: 50%;
    background: #333;
    content: "";
  }
  td.today a {
    border: 1px solid #222;
  }
}

.calendar-table .calendar-head .todo-calendar th {
  font-weight: bold;
}
.calendar-body {
  td.selected a {
    background: #222;
  }
  td.selected a span {
    color: #fff;
  }
  td.selected a:after {
    background: #fff;
  }
}
