.emptyList {
  margin: 100px;
  align-items: center;
}
.listItemContainer {
  align-items: center;
  margin: 0 auto;
  //   margin-left: 135px;
  margin-bottom: 10px;
  border: solid 1px darkgray;
  border-radius: 10px;
  width: 50rem;
  height: 60px;
  display: flex;
  justify-content: space-between;

  .itemSeq {
    width: auto;
    margin-left: 30px;
    width: 30px;
  }
  .contentArea {
    text-align: start;
    width: 300px;
    padding: 30px;
    .itemTitle {
      font-size: 20px;
      font-weight: bold;
    }
    .itemTitle:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    .itemContent {
      font-size: 15px;
      color: darkgray;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .itemContent:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .writer {
    text-align: right;
    width: 150px;
  }
  .date {
    font-size: 13px;
  }
  .settingArea {
    margin-right: 20px;
    .menu {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
    .setMenu {
      position: absolute;
      box-shadow: 0 4px 5px 0 #00000026;
      background: white;
      .setContent {
        list-style-type: none;
        padding: 12px;
        margin: 0;
        li {
          margin: 5px 0px;
          cursor: pointer;
        }
      }
    }
  }
}
