.categoryContainer {
  margin-top: 50px;
  .categoryItem {
    display: flex;
    justify-content: space-evenly;

    .categoryName {
      border-bottom: 4px solid #3a4ca8;
      font-size: 20px;
      padding-bottom: 10px;
      width: auto;
    }
  }
}

.boardContainer {
  margin-top: 50px;
}

.writeBtn {
  width: 90px;
  height: 40px;
  border: 0;
  outline: none;
  font-size: 15px;
  background: #3a4ca8;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  margin: 20px auto;
}
