.inviteBtnArea {
  .inviteBtn {
    width: 90px;
    height: 40px;
    border: 0;
    outline: none;
    font-size: 15px;
    background: #3a4ca8;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 15px;
  }
}

.listContainer {
  margin: 0 auto;
  border: solid 1px darkgray;
  border-radius: 30px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.09);
  width: 60rem;
  height: 100%;
  .itemList {
    width: 55rem;
    margin: 0 auto;
    .tableHead th {
      font-weight: bold;
    }
  }
}
