.groupCountArea {
  text-align: left;
  padding-left: 9rem;
  display: flex;
  margin: 50px 0px 10px 0px;
  .groupCountTitle {
    margin-left: 8rem;
    margin-right: 10px;
    font-size: 23px;
    font-weight: bold;
    vertical-align: middle;
  }
  .groupCount {
    color: #3a4ca8;
    font-size: 23px;
    font-weight: bold;
  }
}
.groupContainer {
  margin: 0 auto;
  border: solid 1px rgba(169, 169, 169, 0);
  border-radius: 30px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.09);
  width: 50rem;
  height: 100%;

  .groupItem {
    border: solid 1px rgba(169, 169, 169, 0);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    width: 45rem;
    height: 50px;
    margin: 20px auto;
    text-align: start;
    padding-top: 15px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;

    .groupName {
      font-size: 25px;
      font-weight: bold;
      cursor: pointer;
    }
    .groupBtnArea {
      margin-right: 25px;
      align-items: center;
      .inviteBtn {
        width: 90px;
        height: 40px;
        border: 0;
        outline: none;
        font-size: 15px;
        background: #3a4ca8;
        color: white;
        cursor: pointer;
        border-radius: 10px;
        margin-right: 15px;
      }
      .groupDelBtn {
        width: 50px;
        height: 40px;
        border: 0;
        outline: none;
        font-size: 15px;
        background: #3a4ca8;
        color: white;
        cursor: pointer;
        border-radius: 10px;
      }
    }
  }

  .addGroupBtn {
    width: 200px;
    height: 70px;
    border: none;
    font-size: 15px;
    margin: 20px;
    margin-top: 50px;
    background: white;
    color: black;
    // padding: 10px;
    cursor: pointer;
    border-radius: 40px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.09);
    align-items: center;
    text-align: center;

    .addBtnIn {
      display: flex;
      align-items: center;
      justify-content: center;

      .addIcon {
        width: 30px;
        height: 30px;
      }

      .btnDecsriptionArea {
        padding: 10px;
        .btnDecsription {
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
  }
}
