.fullcalendarContainer {
  float: left;
  width: 70%;
  display: block;
}
.calendarchart {
}
.fc-day-sun a {
  color: red;
}
.fc-day-sat a {
  color: blue;
}
.fc-daygrid-more-link.fc-more-link {
  color: #3a4ca8;
}
.fc-today-button.fc-button.fc-button-primary {
  background-color: #17028b;
  filter: contrast(200%);
}
.fc-next-button.fc-button.fc-button-primary {
  background-color: #3a4ca8;
}
.fc-prev-button.fc-button.fc-button-primary {
  background-color: #3a4ca8;
}

.fc-button-primary {
  color: #3a4ca8;
}
.fc-col-header-cell {
  background-color: #3a4ca8;
}
.fc .fc-col-header-cell-cushion {
  color: white;
}
.fc-today-button fc-button fc-button-primary {
  background-color: #3a4ca8;
}
.fullcalendarContainer #selectworker {
  position: relative;
  top: 45px;
  left: 30px;
  bottom: 0px;
  width: 150px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 7px 7px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.fullcalendarContainer #moveButton {
  position: relative;
  top: 40.5px;
  left: 14.5%;
  bottom: 0px;
  width: 70px;
  height: 40px;
  color: white;
  background-color: #3a4ca8;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  padding: 7px 7px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  border-radius: 5px;
}
.fullcalendarContainer #chartButton {
  position: relative;
  top: 40.5px;
  left: 15%;
  bottom: 0px;
  width: 70px;
  height: 40px;
  color: white;
  background-color: #3a4ca8;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  padding: 7px 7px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  border-radius: 5px;
}

.calendarDetailContainer {
  display: block;
  flex-direction: row;
  position: relative;
  margin-top: 105px;
  float: left;
  width: 29%;
  border: 0.1px solid silver;
  display: block;
  height: 633px;
  overflow: auto;
}
.calendarDetailContainer #select {
  margin-left: 5px;
  width: 80px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 7px 7px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.calendarDetailContainer select:focus {
  border: 1px solid #3a4ca8;
  box-sizing: border-box;
  border-radius: 10px;
  outline: 3px solid #f8e4ff;
  border-radius: 10px;
}

.calendarDetailContainer input {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;

  width: 105px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 7px 7px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.calendarDetailContainer #inputText {
  width: 90%;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 7px 7px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  overflow: scroll;
}
.calendarDetailContainer #delete {
  width: 48px;
  background-color: #3a4ca8;
  color: white;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 7px 7px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.calendarDetailContainer #registerButton {
  margin-top: 20px;
  width: 80px;
  background-color: #3a4ca8;
  color: white;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 7px 7px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.calendarDetailContainer #submit {
  width: 40px;
  background-color: #3a4ca8;
  color: white;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 7px 7px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
// .container .calendarchartContainer {
//   display: flex;
//   position: absolute;
//   top: 700px;
//   display: block;
//   width: 100%;
//   height: auto;
//   justify-content: space-between;
//   align-items: center;
//   margin-top: 100px;
// }
