@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "SUIT-Regular" !important;
  font-weight: 100;
  animation-name: fadeIn;
  animation-duration: 1s;
}

body {
  padding-top: 80px;
}

.container {
  width: 1300px;
  margin: auto;
  text-align: center;
}
/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
} */
