.header {
  height: 60px;
  width: 100%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.09);
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  .logo {
    width: 150px;
    margin-left: 10px;
  }
}
.contents {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  justify-content: space-around;
  width: 500px;
  .content {
    font-size: 20px;
    display: table-cell;
    text-align: center;
    line-height: 60px;
    width: 80px;
    height: 60px;
    a {
      color: black;
      text-decoration-line: none;
    }
  }
}
.otherContainer {
  // width: 200px;
  // text-align: right;
  display: flex;

  .icon {
    margin-left: 30px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    padding: 4px;
  }
  .icon:hover {
    background-color: #dbdbdb;
    border-radius: 50%;
  }
  .dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 30px;
    // position: relative;

    .button {
      outline: none;
      border: none;
      background: transparent;
    }

    .button:focus + .dropdownMenu {
      opacity: 1;
      transform: translateY(0);
      pointer-events: all;
    }
  }
  .dropdownMenu {
    position: absolute;
    width: 110px;
    top: calc(100% + 0.25rem);
    padding: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    text-align: center;
    .welcome {
      font-size: 13px;
    }
    .logout {
      cursor: pointer;
      padding: 2px;
      margin: 2px;
    }

    .logout:hover {
      background: rgb(205, 205, 205);
      border-radius: 4px;
    }
  }
}
